// ========================================== //
// HOME - MV
// ========================================== //

.sct-mv {
	position: relative;
	overflow: hidden;
	height: 100vh;
	color: $c_dgray;

	.bg-img-body {
		height: 95%;
	}

}

.mv-label {
	position: absolute;
	bottom: 60%;
	left: $col*2.5;
	width: $col*1.5;
	height: $col*1.5;
	text-align: center;
	justify-content: center;

	&.enter {
		.circle {
			transition: .8s ease-in-out;
			transform: rotateY(180deg);
		}

		.txt {
			transition: .8s ease-in-out;
			transform: rotateY(-360deg);
		}

	}

	span {
		display: block;
	}

	.circle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		fill: none;
		stroke: $c_black;
	}

	.txt {
		font-size: 1.3vw;
		@include font-serif(1em, 0);
	}

}

.mv-content {
	position: absolute;
	top: 67%;
	left: $col*4;
	width: $col*8;
	text-align: center;

	.mv-logo {
		margin-bottom: 3vh;

		img, svg {
			width: 100%;
			height: auto;
		}

	}

	.mv-tagline {
		font-size: 1.8rem;
		@include font-serif();
	}

}

// ========================================== //
// HOME - CONCEPT
// ========================================== //

.sct-concept {
	position: relative;
	z-index: 1;
	margin-bottom: 0;
	padding: $col*2 0;
	color: $c_dgray;

	.concept {
		font-size: calc(1em + .2vw);
		width: $col*12;
		text-align: center;
		@include font-serif(1.8em, 0);

		p {
			margin-bottom: 1.5em;
		}

	}

	.trees, .svg-snow {
		display: none;
		width: auto;
		height: auto;
	}

}

.banner {
	position: relative;
	overflow: hidden;
	margin: 0 auto;

	.banner-bg {
		top: -5%;
		height: 110%;
	}

	.banner-txt {
		position: absolute;
		top: 0;
		left: 0;
		width: 55%;
		height: 100%;

		.bg-img, .bg-img-body {
			top: 0;
			left: 0;
		}

		.bg-img-body {
			background-size: contain;
		}

	}

}

@media (min-width:1300px) {
	.banner {
		width: $col*12;
		min-width: 1100px;
	}

}

.sct-visual2, .sct-visual3 {
	overflow: hidden;
}

// ========================================== //
// HOME - LATEST NEWS
// ========================================== //

.sct-latest {
	padding: $col*2 0;

	.pict {
		display: flex;
		width: $col*5;
		justify-content: center;
		align-items: center;

		.pict-1 {
			width: 40%;
			height: auto;
		}

	}

	.latest-news {
		display: flex;
		width: $col*7;
		max-width: 40em;
		align-items: center;

		p {
			margin-bottom: .8em;
		}

	}

	.latest-news-title {
		font-size: 2.6rem;
		margin-bottom: 1em;
		color: $c_black;
		@include font-display();
	}

	.latest-news-date {
		.date {
			margin-right: 2em;
		}

	}

}

// ========================================== //
// HOME - ABOUT
// ========================================== //

.sct-about {
	position: relative;
	z-index: 1;

	.about-body {
		width: $col*8;
		padding: $col $col*2 $col $col;
		background-color: $c_white;

		.about-head {
			font-size: calc(1.6vw + 1rem);
			margin-bottom: 1em;
			@include font-serif();

			p {
				white-space: nowrap;
			}

		}

		.rise-txt {
			line-height: 1.8;
			margin-bottom: -.2em;
		}

		.about-text {
			margin-right: 2em;
			margin-bottom: 3em;
		}

	}

	.about-img {
		position: absolute;
		top: 15%;
		right: $col*2;
		overflow: hidden;
		width: $col*5;
		height: 70%;
	}

	.tips-img-1, .tips-img-2 {
		transition: all .4s ease-in-out;
		transform: scale(1.1);
		opacity: 0;
	}

	&.tips-1 .tips-img-1, &.tips-2 .tips-img-2 {
		transform: scale(1);
		opacity: 1;
	}

}

.dot-line {
	position: relative;
	display: inline-block;
	cursor: help;

	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 6px;
		content: '';
		animation: dotLine .8s linear 0s infinite;
		opacity: .5;
		background-color: #fff;
		background-image: radial-gradient($c_gray 30%, transparent 30%);
		background-size: 6px 6px;
	}

	&.rv:after {
		animation: dotLine .8s linear 0s infinite reverse;
	}

	&:hover:after {
		opacity: 1;
	}

}

@keyframes dotLine {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -12px 0;
	}

}

// ========================================== //
// HOME - PRODUCTS
// ========================================== //

.products-list {
	margin-bottom: $col;

	&.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: $col $col;
	}

	.prod {
		text-align: center;

		.prod-thumb {
			position: relative;
			position: relative;
			width: 100%;
			margin-bottom: 2.5vw;
			padding-bottom: 70%;

			.js-parallax {
				top: -5%;
				height: 110%;
			}

			&-default {
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;
				width: 100%;
				height: 100%;
			}

			&-change {
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;
				width: 100%;
				height: 100%;
				transition: all .2s ease-in-out;
				transform: rotate(-5deg);
				opacity: 0;
			}

			&:hover .prod-thumb-change {
				opacity: 1;
			}

		}

		.prod-info {
			h4 {
				font-size: 1.2em;
				@include font-serif();
			}

			.quantity {
				font-size: .9em;
			}

			.price {
				font-size: 1.4em;
				display: inline-block;
				margin-left: 1em;
				transition: color .4s ease-in-out;
				color: $c_blue;
				@include font-display();

				.invert & {
					color: $c_white;
				}

			}

			.tax {
				font-size: 1.1rem;
			}

		}

	}

}

.sct-products {
	.hr {
		font-size: 2rem;
		margin-bottom: $col/2;
		transition: color .4s ease-in-out;
		text-align: center;
		opacity: .5;

		.invert & {
			color: $c_white;
		}

	}

	.products-note {
		text-align: center;

		dt {
			margin-bottom: .5em;
		}

		dd {
			margin-bottom: 2em;
			color: $c_gray;
		}

	}

}

// ========================================== //
// HOME - FEATURE
// ========================================== //

.features-tab {
	opacity: 0;
}

.package-img, .package-text, .package-text .s-section-title, .package-text .block-title, .package-text .block-body, .package-text .block-buttonarea {
	opacity: 0;
}

.maker-img, .maker-text, .maker-text .s-section-title, .maker-text .block-title, .maker-text .block-body {
	opacity: 0;
}

.sticky-content-area[data-area='features'] {
	height: 400vh;
}

.sticky-content-area[data-area='package'] {
	min-height: 100vh;
	margin-bottom: -35vh;
	padding-top: 25vh;
}

.sticky-content-area[data-area='maker'] {
	min-height: 100vh;
	padding-top: 25vh;
}

.sticky-content {
	display: flex;
	min-height: 100vh;
	padding: 10vh 0;
	align-items: center;
}

.sct-features {
	.features {
		&.grid {
			display: grid;
			width: $col*14;
			margin-right: $col;
			margin-left: $col;
			grid-template-columns: repeat(28, 1fr);
			align-self: center;
		}

		.features-header {
			position: relative;
			z-index: 1;
			grid-column: 2/20;
			grid-row: 1;
			align-self: center;
		}

		.features-tabs {
			position: relative;
			height: 70vh;
			grid-column: 10/29;
			grid-row: 1;
		}

		.features-select {
			margin-top: 4vw;
		}

		.features-option {
			position: relative;
			overflow: hidden;
			margin: 2vw 0 0;

			.number {
				font-size: 1.5rem;
				position: absolute;
				top: calc(6vw - 2em);
				left: 0;
				@include font-display(1);
			}

			&-body {
				cursor: pointer;
				transform-origin: 0 0;
			}

		}

		.features-option-inner {
			display: inline-block;
			margin-left: 3rem;
		}

		.option-title {
			font-size: 6vw;
			@include font-display(1);
		}

		.option-subt {
			overflow: hidden;
			height: 0;
			@include font-serif(2.5);
		}

		.option-border {
			width: 100%;
			height: 2px;
			transition: background-color .2s ease;
			transform: scaleX(0);
			transform-origin: 0 0;
			background-color: $c_black;

			.invert & {
				background-color: $c_white;
			}

		}

		.features-tab {
			position: absolute;
			top: 0;
			left: 0;
			display: grid;
			visibility: hidden;
			width: 100%;
			height: 100%;
			height: 100%;
			align-self: center;

			&.active {
				visibility: visible;
			}

			&.ready {
				visibility: visible;
			}

			.features-tab-grid {
				display: grid;
				grid-template-columns: repeat(18, 1fr);
				align-self: center;
			}

		}

		.feature-img {
			position: relative;
			height: 100%;
			grid-column: 1/11;
			grid-row: 1;
			align-self: center;

			&.single {
				.bg-img {
					position: relative;
					width: 100%;
					height: 0;
					padding-bottom: calc(100% * 1.2);
				}

			}

			&.double {
				.bg-img {
					position: absolute;
					width: 70%;
					height: 0;
					padding-bottom: calc(70% * 1.2);
				}

				.img1 {
					top: calc(50% - 100vw / 16 * 3.5);
					left: 0;
					transform-origin: top left;
				}

				.img2 {
					right: 0;
					bottom: calc(50% - 100vw / 16 * 3.5);
					transform-origin: top right;
				}

			}

		}

		.feature-img-s {
			position: relative;
			width: 60%;
			margin-bottom: 3vw;
			padding-bottom: 40%;
			transform-origin: bottom left;
		}

		.feature-text {
			grid-column: 12/19;
			grid-row: 1;
			align-self: center;
		}

		.feature-tab-title {
			font-size: 2rem;
			margin-bottom: 1em;
			@include font-serif(1.7);
		}

	}

}

.feature-mb-ac {
	.ac-header, .toggle-icon, .ac-toggle {
		display: none;
	}

}

// ========================================== //
// HOME - PACKAGE
// ========================================== //

.sct-package {
	position: relative;
}

.package {
	color: $c_white;

	&.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		align-self: center;
	}

	.package-img {
		position: relative;
		padding-bottom: 120%;
		grid-column: 1/7;
		grid-row: 1;
	}

	.package-text {
		position: relative;
		grid-column: 8/13;
		grid-row: 1;
		align-self: center;
	}

	.button {
		color: $c_white;
		border-color: $c_white;

		svg {
			fill: $c_white;
		}

		.button-bg {
			background-color: $c_white;
		}

		&:hover {
			color: $c_black;

			svg {
				fill: $c_black;
			}

		}

	}

}

// ========================================== //
// HOME - MAKER
// ========================================== //

.maker {
	&.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		align-self: center;
	}

	.maker-img {
		position: relative;
		padding-bottom: 130%;
		grid-column: 8/12;
		grid-row: 1;
	}

	.maker-text {
		position: relative;
		grid-column: 2/7;
		grid-row: 1;
		align-self: center;
	}

}

// ========================================== //
// HOME - STORE
// ========================================== //

.sct-stores {
	padding-top: $col;
	padding-bottom: $col*3;
	color: $c_dgray;
	background-size: 100% auto;

	.l-section-title .title {
		color: $c_black;
	}

	.s-section-title {
		margin-bottom: 2em;
	}

}

.store-ac.accordion {
	margin-bottom: 5vw;
	padding: 2em 2em;
	transition: border .4s ease-in-out;
	border: 1px solid rgba(1, 1, 1, .15);

	.store-name {
		font-size: 2vw;
		margin-bottom: .5em;
		@include font-serif();
	}

	.store-note {
		font-size: 1.2rem;
		padding-bottom: .2em;

		.label {
			line-height: 1.7;
			display: inline-block;
			margin-right: 2em;
			padding: 0 .5em .1em;
			text-align: center;
			color: $c_white;
			border-radius: 4px;
			background-color: $c_dgray;
		}

		.term {
			.date {
				font-size: 2rem;
				@include font-display();
			}

		}

	}

	.ac-body {
		padding: $col/2;

		dl {
			display: grid;
			grid-template-columns: 8em auto;

			dt {
				margin-top: 1em;
				grid-column: 1;
			}

			dd {
				margin-top: 1em;
				grid-column: 2;
			}

		}

		a {
			position: relative;
		}

	}

	.ac-toggle {
		&:checked {
			& ~ .ac-body {
				padding: 0 $col/2;
			}

		}

	}

}

// ========================================== //
// HOME - NEWS
// ========================================== //

.sct-news {
	min-height: 60vh;
	padding: $col*3 0;
	color: $c_white;
	background-color: $c_dgray;

	.news {
		&.grid {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
		}

	}

	.news-title {
		grid-column: 1/3;

		.l-section-title {
			display: flex;
			margin: 0;
			padding: 0;

			transform:rotateZ(90deg) translate(0, -#{$col});
			transform-origin: 0 0;
			word-break: keep-all;
			align-items: center;

			.title {
				font-size: 3.2rem;
				margin-right: 1em;
				color: $c_white;
			}

		}

	}

	.news-body {
		grid-column: 3/12;
	}

	.news-archives {
		width: 100%;

		.news-post {
			position: relative;
			padding: 1em;

			.border {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				opacity: .2;
				background-color: $c_gray;

				.invert & {
					background-color: $c_white;
				}

			}

			p {
				margin: 1em 0;
			}

			.date {
				opacity: .6;
			}

		}

	}

}

// ========================================== //
// HOME - POPUP
// ========================================== //

.popup-banner {
	position: fixed;
	z-index: 6;
	right: 10px;
	bottom: 10px;
	display: flex;
	width: 600px;
	padding: 40px;
	color: $c_white;
	border-radius: 2px;
	background-color: $c_vblue;

	&-close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 4em;
		height: 4em;
		padding: 1.25em;
		cursor: pointer;

		.circle {
			stroke: $c_white;
			stroke-width: 4px;
		}

		.el {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 2px;
			margin-top: -1px;
			transition: all .4s ease-out;
			transform-origin: 50% 50%;
			background: $c_white;
		}

		.el1 {
			transform: rotate(45deg);
		}

		.el2 {
			transform: rotate(-45deg);
		}

	}

	&-inner {
		display: flex;
		align-items: center;
	}

	&-thumb {
		position: relative;
		width: 150px;
		height: 220px;

		.bg-img {
			overflow: hidden;
			border-radius: 75px;
		}

	}

	&-text {
		display: flex;
		width: 370px;
		padding: 0 0 0 30px;
		align-items: center;

		& > div {
			width: 100%;
		}

		.title {
			font-size: 26px;
			line-height: 1.3;
			margin-top: .5em;
			@include font-serif();
		}

		.sub {
			font-size: 20px;
			line-height: 1.3;
			margin-top: .5em;
			@include font-serif();
		}

		.body {
			font-size: 14px;
			line-height: 1.7;
			position: relative;
			width: 20em;
			margin-top: 1em;
			margin-bottom: 1.5em;
		}

		.note {
			font-size: 13px;
			position: relative;
			opacity: .8;
		}

		.arrow {
			position: absolute;
			top: calc(100% + .5em);
			left: -5%;
			width: 5rem;
			height: 4rem;
			fill: none;
			stroke: $c_white;
			stroke-width: 2;
			stroke-dasharray: 210;
			stroke-dashoffset: -210;
		}

		.uline {
			position: relative;

			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 1px;
				content: '';
				opacity: .5;
				background-color: $c_white;
			}

		}

	}

	&-button {
		display: flex;
		margin-bottom: -.5em;
		justify-content: flex-end;
	}

	.button {
		color: $c_white;
		border: none;
		background-color: rgba(0, 0, 0, .3);

		svg {
			fill: $c_white;
		}

		.button-bg {
			background-color: $c_navy;
		}

		&:hover {
			color: $c_white;

			.button-i svg {
				fill: $c_white;
			}

		}

	}

	&.show {
		.popup-banner-text {
			.arrow {
				transition: all 1s ease-out .5s;
				stroke-dashoffset: -410;
			}

		}

	}

}

.fixed-banner-button {
	position: fixed;
	z-index: 5;
	right: 5vh;
	bottom: 5vh;
	overflow: hidden;
	width: 80px;
	height: 80px;
	color: $c_white;

	&-inner {
		position: relative;
		z-index: 1;
		display: flex;
		overflow: hidden;
		width: 100%;
		height: 100%;
		transition: opacity .3s ease-in-out .2s, transform .4s cubic-bezier(.000, .175, .000, 1.000) .2s;
		transform: scale(.6);
		opacity: 0;
		border-radius: 50%;
		background-color: $c_vblue;
		align-items: center;
		justify-content: center;
	}

	.button-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: transform .4s cubic-bezier(.000, .175, .000, 1.000);
		transform: scaleY(0);
		transform-origin: 0 0;
		opacity: .9;
		background-color: $c_navy;
	}

	.button-i {
		position: relative;
		width: 32px;
		height: 34px;

		svg {
			fill: $c_white;
		}

	}

	.button-t {
		display: none;
	}

	&:hover {
		.button-bg {
			transform: scaleY(1.1);
			transform-origin: 0 100%;
		}

	}

	.is-banner-hidden & {
		&-inner {
			transform: scale(1);
			opacity: 1;
		}

	}

	&:hover &-inner {
		transition-delay: 0s;
		transform: scale(.95);
	}

}


// ========================================== //
// SUBPAGE - MV
// ========================================== //

.sct-pagetop {
	position: relative;
	height: 100vh;
	color: $c_dgray;
	justify-content: center;
}

.pagetop-content {
	text-align: center;

	.page-title {
		font-size: 7vw;
		margin-bottom: 3vh;
		text-transform: uppercase;
		@include font-display();
	}

	.page-title-ja {
		font-size: 1.5vw;
		letter-spacing: 1;
	}

}

.mv-scroll {
	display: none;
}

// ========================================== //
// SUBPAGE - wave
// ========================================== //

.pagetop-wave {
	position: absolute;
	bottom: -10vw;
	left: 0;
	display: flex;
	width: 100vw;
	height: 25vw;
	pointer-events: none;
	align-items: flex-end;

	.svg-wave {
		.snow {
			fill: $c_white;
		}

	}

	.trees {
		position: absolute;
		top: 0;
		left: 50%;
		width: $col*1.5;
		transform: translate(-$col*1.5/2, 0);
	}

	.snow1 {
		position: absolute;
		bottom: $col*4;
		left: $col*1;
		width: $col;
		max-width: 60px;
		height: $col;
		max-height: 60px;
		fill: $c_blue;
	}

	.snow2 {
		position: absolute;
		bottom: $col*3;
		left: $col*2;
		width: $col;
		max-width: 70px;
		height: $col;
		max-height: 70px;
		fill: $c_lblue;
	}

	.snowflake {
		rect {
			rx: 2px;
			ry: 2px;
		}

	}

}

// ========================================== //
// PAGE : TERMS
// ========================================== //
.terms-foreword {
	line-height: 2.2;
	position: relative;
	padding: $col $col;
}

.terms-article {
	position: relative;
	margin: 0 $col $col;
	padding: $col 0 0;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		content: '';
		background-color: $c_lgray;
	}

	.terms-data {
		dt {
			font-size: 1.4em;
			line-height: 1.1;
			margin-bottom: 3em;
		}

		dd {
			font-size: 1em;
			margin-left: $col*2;
		}

	}

	ul {
		margin-bottom: 2em;
		margin-left: 1.5em;

		li {
			margin: 0 0 .5em;
			list-style: disc;
		}

	}

	ol {
		margin-bottom: 2em;
		margin-left: 1.5em;

		li {
			margin: 0 0 .5em;
			list-style-type: decimal;
		}

	}

	p {
		margin-bottom: 1.5em;
	}

}

.terms-footer {
	padding: $col 0;
}

// ========================================== //
// PAGE : GALLERY
// ========================================== //
.gallery-top {
	position: relative;
	overflow: hidden;
	height: 100vh;

	.bg-img-body {
		top: -10%;
		height: 120%;
	}

}

.gallery-intro {
	min-height: 100vh;
	padding: $col*2 $col*2.5 $col*2;

	.gallery-headline {
		margin-bottom: 3em;
	}

	&-inner {
		display: grid;
		grid-template-columns: $col*5.5 $col*5.5;
	}

	&-img {
		position: relative;
		overflow: hidden;
		width: $col*4;

		height:calc( #{$col*4} * 1.25 );
		margin-bottom: 1em;

		.js-parallax {
			top: -5%;
			height: 110%;
		}

	}

	&-head {
		h2 {
			font-size: 2em;
			margin-bottom: 3em;
			@include font-display();
		}

	}

	&-body {
		font-size: 1.5rem;

		p {
			margin: 0 0 3em;
		}

	}

}

.gallery-main {
	position: relative;
	display: flex;
	overflow: hidden;
	height: 100vh;
	padding: 10vh 0 10vh;
	align-items: center;

	&:before {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		content: '';
		background-color: $c_lgray;
	}

	.gallery-head {
		font-size: 2em;
		line-height: 1;
		position: absolute;
		top: 50%;
		left: $col*1.5;
		display: flex;
		height: 2em;
		margin-top: -1em;
		pointer-events: none;
		align-items: center;
		@include font-serif();
	}

}

.gallery-slider {
	.slide {
		width: 40vw;
		height: 50vw;
		max-height: 75vh;

		.gallery-img {
			position: relative;
			width: 100%;
			height: calc(100% - 1em);
		}

		.bg-img-body {
			background-position: 50% 100%;
			background-size: contain;
		}

		.caption {
			font-size: 1.1rem;
			color: $c_gray;
		}

	}

}

.slide-wrap {
	width: 100vw;
	cursor: grab;

	&.is-dragging {
		cursor: grabbing;
	}

	.slide-body {
		display: flex;
		flex-wrap: wrap;
	}

	.slide {
		position: relative;

		.in {
			width: 100%;
			height: 100%;
			user-select: none;
		}

	}

	.slide-scale {
		transition: all .6s ease-in-out;
	}

	.bg-img-body {
		transition: all .6s ease-in-out;
	}

	&.is-dragging {
		.slide-scale {
			transform: scale(.95);
		}

		.bg-img-body {
			transform: scale(.95);
		}

	}

	.progress {
		position: absolute;
		right: $col/2;
		bottom: 5vh;
		opacity: 0;
	}

}

.gallery-profile {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	display: flex;
	visibility: hidden;
	width: 50vw;
	height: 100vh;
	padding: $col*2 $col*1.5;
	align-items: center;

	&-ovarlay {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		visibility: hidden;
		width: 100vw;
		height: 100vh;
		transition: all .4s ease-in-out;
		opacity: 0;
		background-color: $c_lgray;
	}

	.is-profile-open & {
		visibility: visible;

		&-ovarlay {
			top: -100vh;
			visibility: visible;
			height: 300vh;
			opacity: .4;
		}

	}

	&-bg {
		position: absolute;
		top: -100vh;
		left: 0;
		width: 100%;
		height: 300vh;
		transition: all 1s cubic-bezier(.47, .04, .29, 1.03);
		opacity: .98;
		background-color: $c_lgray;
		clip-path: polygon(0% 0, 0% 100%, -60% 100%, 0% 0);

		.is-profile-open & {
			clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
		}

	}

	&-inner {
		position: relative;
	}

	.sct-description {
		position: absolute;
		top: $col/2;
		left: $col/2;
		transition: all .4s ease-in-out;
		transform: translate(0%, 40px);
		opacity: 0;
	}

	&-head {
		margin-bottom: $col/2;
		transition: all .4s ease-in-out;
		transform: translate(0%, 40px);
		opacity: 0;
		align-items: flex-end;

		.name {
			font-size: 2em;
			margin-right: .5em;
			@include font-serif();
		}

		.year {
			font-size: 1.4rem;
			display: inline-block;
			margin-bottom: .2em;
			@include font-serif();
		}

	}

	&-body {
		font-size: 1.5rem;
		transition: all .4s ease-in-out;
		transform: translate(0%, 40px);
		opacity: 0;
	}

	.is-profile-open & {
		.sct-description {
			transition: all .6s ease-in-out .3s;
			transform: translate(0%, 0%);
			opacity: 1;
		}

		&-head {
			transition: all .6s ease-in-out .35s;
			transform: translate(0%, 0%);
			opacity: 1;
		}

		&-body {
			transition: all .6s ease-in-out .4s;
			transform: translate(0%, 0%);
			opacity: 1;
		}

	}

}

.is-profile-open .site-navi-button, .is-profile-open .site-social {
	opacity: 0;
}

.gallery-footer {
	position: relative;
	display: flex;
	height: 50vh;
	text-align: center;
	color: $c_white;
	background-color: $c_dgray;
	align-items: center;
	justify-content: center;

	a {
		color: $c_white;
	}

	&-en {
		font-size: 5vw;
		@include font-display(1);
	}

	&-ja {
		display: flex;
		align-items: center;
	}

	.button-i {
		width: 1.5em;
		margin-right: .5em;
		margin-bottom: .2em;

		svg {
			vertical-align: middle;
			fill: $c_white;
		}

	}

	.a-uline {
		&:before {
			display: none;
		}

		&:after {
			background-color: $c_white;
		}

	}

}

// ========================================== //