@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP&display=swap');

$power1_in: cubic-bezier(.26, 0, .6, .2);
$power1_out: cubic-bezier(.4, .8, .74, 1);
$power1_inOut: cubic-bezier(.48, .04, .52, .96);
$power2_in: cubic-bezier(.4, 0, .68, .06);
$power2_out: cubic-bezier(.32, .94, .6, 1);
$power2_inOut: cubic-bezier(.66, 0, .34, 1);
$power3_in: cubic-bezier(.52, 0, .74, 0);
$power3_out: cubic-bezier(.26, 1, .48, 1);
$power3_inOut: cubic-bezier(.76, 0, .24, 1);
$power4_in: cubic-bezier(.64, 0, .78, 0);
$power4_out: cubic-bezier(.22, 1, .36, 1);
$power4_inOut: cubic-bezier(.84, 0, .16, 1);
$sine_in: cubic-bezier(.32, 0, .6, .36);
$sine_out: cubic-bezier(.4, .64, .68, 1);
$sine_inOut: cubic-bezier(.36, 0, .64, 1);
$expo_in: cubic-bezier(.66, 0, .86, 0);
$expo_out: cubic-bezier(.14, 1, .34, 1);
$expo_inOut: cubic-bezier(.9, 0, .1, 1);

$c_black: #1a1d1f;
$c_white: #fff;
$c_bg: #ebeef3;
$c_lgray: #eaeeee;
$c_gray: #888;
$c_dgray: #242728;
$c_blue: #13629c;
$c_vblue: #0089d8;
$c_lblue: #9ebfdf;
$c_gblue: #c6d1dd;
$c_navy: #0b3852;
$c_yellow: #e8e96e;
$c_bgreen: #15757e;
$col: 100vw/16;

@mixin font-display($lineHeight: 1.4) {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    line-height: $lineHeight;

    letter-spacing: .05em;
    text-transform: uppercase;
}
@mixin font-serif($lineHeight: 1.4, $letterSpacing: .05) {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    line-height: $lineHeight;

    letter-spacing: $letterSpacing;
    text-transform: uppercase;
}
@mixin font-default($lineHeight: 1.8, $letterSpacing: .02) {
    font-family: 'Noto Sans JP', 'Helvetica', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', sans-serif;
    font-weight: 300;
    line-height: $lineHeight;

    letter-spacing: $letterSpacing;
    text-transform: none;
}
