<template>
  <a href="https://instagram.com/snowsand_jp/" class="circle-button">
    <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150,10A140,140,0,1,0,290,150,140,140,0,0,0,150,10" /></svg>
    <div class="txt">
      <div class="icon slot-chars">
        <div class="slot slot-t1">
          <span>
            <svg class="i-ig" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><title>INSTAGRAM</title><path d="M36.9,27a12.31,12.31,0,0,1-.79,4.12,8.67,8.67,0,0,1-5,5A12.43,12.43,0,0,1,27,36.9c-1.81.08-2.39.1-7,.1s-5.2,0-7-.1a12.37,12.37,0,0,1-4.12-.79,8.65,8.65,0,0,1-5-5A12.57,12.57,0,0,1,3.1,27C3,25.2,3,24.62,3,20s0-5.19.1-7a12.62,12.62,0,0,1,.79-4.12,8.65,8.65,0,0,1,5-5A12.62,12.62,0,0,1,13,3.1C14.8,3,15.38,3,20,3s5.2,0,7,.1a12.69,12.69,0,0,1,4.13.79,8.67,8.67,0,0,1,5,5A12.37,12.37,0,0,1,36.9,13c.08,1.82.1,2.39.1,7S37,25.2,36.9,27Zm-3-13.89A9.32,9.32,0,0,0,33.27,10,5.44,5.44,0,0,0,32,8a5.35,5.35,0,0,0-2-1.27,9.58,9.58,0,0,0-3.16-.59C25.08,6.06,24.55,6,20,6s-5.08,0-6.88.1A9.58,9.58,0,0,0,10,6.73,5.59,5.59,0,0,0,6.73,10a9.58,9.58,0,0,0-.59,3.16C6.06,14.92,6,15.46,6,20s0,5.08.1,6.88A9.58,9.58,0,0,0,6.73,30,5.59,5.59,0,0,0,10,33.27a9.32,9.32,0,0,0,3.16.59c1.8.08,2.33.1,6.88.1s5.08,0,6.88-.1A9.32,9.32,0,0,0,30,33.27,5.35,5.35,0,0,0,32,32a5.44,5.44,0,0,0,1.27-2,9.32,9.32,0,0,0,.59-3.16c.08-1.8.1-2.34.1-6.88S33.94,14.92,33.86,13.12ZM29.06,13a2,2,0,1,1,2-2A2,2,0,0,1,29.06,13ZM20,28.72A8.72,8.72,0,1,1,28.72,20,8.71,8.71,0,0,1,20,28.72Zm0-14.4A5.68,5.68,0,1,0,25.68,20,5.68,5.68,0,0,0,20,14.32Z" /></svg>
          </span>
        </div>
        <div class="slot slot-t2">
          <span>
            <svg class="i-ig" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><title>INSTAGRAM</title><path d="M36.9,27a12.31,12.31,0,0,1-.79,4.12,8.67,8.67,0,0,1-5,5A12.43,12.43,0,0,1,27,36.9c-1.81.08-2.39.1-7,.1s-5.2,0-7-.1a12.37,12.37,0,0,1-4.12-.79,8.65,8.65,0,0,1-5-5A12.57,12.57,0,0,1,3.1,27C3,25.2,3,24.62,3,20s0-5.19.1-7a12.62,12.62,0,0,1,.79-4.12,8.65,8.65,0,0,1,5-5A12.62,12.62,0,0,1,13,3.1C14.8,3,15.38,3,20,3s5.2,0,7,.1a12.69,12.69,0,0,1,4.13.79,8.67,8.67,0,0,1,5,5A12.37,12.37,0,0,1,36.9,13c.08,1.82.1,2.39.1,7S37,25.2,36.9,27Zm-3-13.89A9.32,9.32,0,0,0,33.27,10,5.44,5.44,0,0,0,32,8a5.35,5.35,0,0,0-2-1.27,9.58,9.58,0,0,0-3.16-.59C25.08,6.06,24.55,6,20,6s-5.08,0-6.88.1A9.58,9.58,0,0,0,10,6.73,5.59,5.59,0,0,0,6.73,10a9.58,9.58,0,0,0-.59,3.16C6.06,14.92,6,15.46,6,20s0,5.08.1,6.88A9.58,9.58,0,0,0,6.73,30,5.59,5.59,0,0,0,10,33.27a9.32,9.32,0,0,0,3.16.59c1.8.08,2.33.1,6.88.1s5.08,0,6.88-.1A9.32,9.32,0,0,0,30,33.27,5.35,5.35,0,0,0,32,32a5.44,5.44,0,0,0,1.27-2,9.32,9.32,0,0,0,.59-3.16c.08-1.8.1-2.34.1-6.88S33.94,14.92,33.86,13.12ZM29.06,13a2,2,0,1,1,2-2A2,2,0,0,1,29.06,13ZM20,28.72A8.72,8.72,0,1,1,28.72,20,8.71,8.71,0,0,1,20,28.72Zm0-14.4A5.68,5.68,0,1,0,25.68,20,5.68,5.68,0,0,0,20,14.32Z" /></svg>
          </span>
        </div>
      </div>
    </div>
  </a>
</template>
