<template>
  <nav class="pagenavi">
    <div class="pagenavi-bg"><div class="bg"></div></div>
    <div class="pagenavi-inner">
      <div class="pagenavi-menu">
        <ul>
          <li>
            <div data-scroll-to="top" class="scroll-to">
              <div class="en slot-chars">
                <div class="slot slot-t1 charwrap">TOP</div><div class="slot slot-t2 charwrap">TOP</div>
              </div>
              <span class="ja">ページトップ</span>
            </div>
          </li>
          <li>
            <div data-scroll-to="products" class="scroll-to">
              <div class="en slot-chars">
                <div class="slot slot-t1 charwrap">PRODUCTS</div><div class="slot slot-t2 charwrap">PRODUCTS</div>
              </div>
              <span class="ja">商品について</span>
            </div>
          </li>
          <li>
            <a href="/gallery/" class="">
              <div class="en slot-chars">
                <div class="slot slot-t1 charwrap">GALLERY</div><div class="slot slot-t2 charwrap">GALLERY</div>
              </div>
              <span class="ja">大谷一良氏ギャラリー</span>
            </a>
          </li>
          <li>
            <div data-scroll-to="stores" class="scroll-to">
              <div class="en slot-chars">
                <div class="slot slot-t1 charwrap">STORE</div><div class="slot slot-t2 charwrap">STORE</div>
              </div>
              <span class="ja">販売店情報</span>
            </div>
          </li>
          <li>
            <div data-scroll-to="news" class="scroll-to">
              <div class="en slot-chars">
                <div class="slot slot-t1 charwrap">NEWS</div><div class="slot slot-t2 charwrap">NEWS</div>
              </div>
              <span class="ja">お知らせ</span>
            </div>
          </li>
        </ul>
      </div>
      <ul class="pagenavi-social">
        <li>
          <a href="https://twitter.com/snowsand_jp" class="slot-chars">
            <div class="slot slot-t1 charwrap">TWITTER</div><div class="slot slot-t2 charwrap">TWITTER</div>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/snowsand_jp/" class="slot-chars">
            <div class="slot slot-t1 charwrap">INSTAGRAM</div><div class="slot slot-t2 charwrap">INSTAGRAM</div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</template>
